/* *========================================
      * FONTS *
*======================================== */
/* rubik-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/rubik-v31-latin-300.woff2") format("woff2");
}
/* rubik-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v31-latin-regular.woff2") format("woff2");
}
/* rubik-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/rubik-v31-latin-italic.woff2") format("woff2");
}
/* rubik-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v31-latin-500.woff2") format("woff2");
}

/* *========================================
      * VARIABLES *
*======================================== */
:root {
  /* ---=== color ===--- */
  --clr-bg: hsl(220, 37%, 97%);
  --clr-title-category: var(--clr-blue-900);

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-grey-50: hsl(220, 37%, 97%);
  --clr-grey-500: hsl(219, 13%, 44%);
  --clr-blue-50: hsl(225, 100%, 96%);
  --clr-blue-100: hsl(220, 50%, 95%);
  --clr-blue-300: hsl(216, 47%, 78%);
  --clr-blue-500: hsl(223, 100%, 59%);
  --clr-blue-850: hsl(215, 27%, 32%);
  --clr-blue-900: hsl(216, 25%, 25%);
  --clr-blue-950: hsl(214, 24%, 23%);
  --clr-green-100: hsl(151, 88%, 94%);
  --clr-green-500: hsl(151, 68%, 52%);
  --clr-purple-100: hsl(278, 100%, 95%);
  --clr-purple-600: hsl(277, 91%, 56%);
  --clr-purple-400: hsl(277, 91%, 78%);
  --clr-orange-50: hsl(27, 100%, 96%);
  --clr-orange-400: hsl(22, 100%, 60%);
  --clr-red-500: hsl(0, 82%, 63%);

  /* ---=== fonts ===--- */
  --ff-base: "Rubik", sans-serif;

  /** fonts size  */
  --fs-14: 0.8125rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-64: 4rem;
  --fs-88: 5.5rem;
  --fs-144: 9rem;

  /** fonts weigth  */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;

  /* ---=== Icons ===--- */
  --icon-svg-size-themes: 24px;
  --icon-svg-size-themes-mobile: 16px;
  --icon-svg-size-mobile: 29px;
  --icon-svg-size: 40px;

  /* ---=== GAP ===--- */
  --gap-themes: 1rem;
  --gap-themes-mobile: 0.5rem;
}

.darkmode {
  --clr-bg: hsl(216, 25%, 25%);
  --clr-title-category: var(--clr-white);
}

/* *========================================
      * RESET *
*======================================== */
*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
svg {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

/* *========================================
      * COMPONENTS *
*======================================== */
/* ---=== Input - Checkbox toggle/switch ===--- */
input[type="checkbox"] {
  appearance: none;

  position: relative;
  width: 32px;
  height: 20px;
  background-color: var(--clr-purple-600);
  border-radius: 10px;
  transition: background-color 0.2s;
  cursor: pointer;
}
input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background-color: var(--clr-white);
  transition: left 0.2s;
}
input[type="checkbox"].switch-checked:checked::after {
  left: 70%;
}

/* ---=== Input - Range Progress Questions  ===--- */
input[type="range"] {
  appearance: none;
  padding-inline: 4px;
  width: 100%;
  height: 1rem;
  background: var(--clr-white);
  border-radius: 0.5rem;
  outline: none;
}
/* Darkmode -------------------------------------------- */
.darkmode input[type="range"] {
  background: var(--clr-blue-850);
}

/* * Chrome / Safari ----------------------------- */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 0.5rem;
  height: 0.5rem;
  border: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: var(--clr-purple-600);
}
/* hides the progress bar thumbnail */
input[type="range"]:disabled::-webkit-slider-thumb {
  background: transparent;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 0.5rem;
  border-radius: 0.25rem;
  background: linear-gradient(
    to right,
    var(--clr-purple-600) 0%,
    var(--clr-purple-600) var(--percent),
    var(--clr-white) var(--percent),
    var(--clr-white) 100%
  );
}
/* Darkmode -------------------------------------------- */
.darkmode input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    var(--clr-purple-600) 0%,
    var(--clr-purple-600) var(--percent),
    var(--clr-blue-850) var(--percent),
    var(--clr-blue-850) 100%
  );
}

/* * Firefox ------------------------------------- */
input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 0.5rem;
  height: 0.5rem;
  border: none;
  border-radius: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: var(--clr-purple-600);
}
input[type="range"]:disabled::-moz-range-thumb {
  background: transparent;
}
input[type="range"]::-moz-range-track {
  height: 0.5rem;
  border-radius: 0.25rem;
  background: linear-gradient(
    to right,
    var(--clr-purple-600) 0%,
    var(--clr-purple-600) var(--percent),
    var(--clr-white) var(--percent),
    var(--clr-white) 100%
  );
}

/* Darkmode -------------------------------------------- */
.darkmode input[type="range"]::-moz-range-track {
  background: linear-gradient(
    to right,
    var(--clr-purple-600) 0%,
    var(--clr-purple-600) var(--percent),
    var(--clr-blue-850) var(--percent),
    var(--clr-blue-850) 100%
  );
}

/* *========================================
      * BASE *
*======================================== */
body {
  background-color: var(--clr-bg);
  font-family: var(--ff-base);
  font-size: var(--fs-18);
  line-height: 100%;
  font-weight: var(--fw-medium);

  background-image: url("../images/pattern-background-mobile-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Darkmode -------------------------------------------- */
body.darkmode {
  background-image: url("../images/pattern-background-mobile-dark.svg");
}

/* *========================================
      * NAV *
*======================================== */
.nav__section {
  min-width: 21.875rem;
  padding: 1rem 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/** Nav categories  */
.nav__category,
.score__category {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.title__category,
.title__cat-score {
  color: var(--clr-title-category);
}

/** Nav toggle themes  */
.nav__darkmode {
  display: flex;
  align-items: center;
  gap: var(--gap-themes-mobile);
}
/* Icons -------------------------------------------- */
.icon__sun svg {
  width: var(--icon-svg-size-themes-mobile);
  fill: var(--clr-grey-500);
}
.icon__moon svg {
  width: var(--icon-svg-size-themes-mobile);
  fill: var(--clr-grey-500);
}
/* Checkbox -------------------------------------------- */
.theme__switch {
  cursor: pointer;
}

/* Darkmode -------------------------------------------- */
.darkmode .icon__sun svg {
  fill: var(--clr-white);
}
.darkmode .icon__moon svg {
  fill: var(--clr-white);
}

/* *========================================
      * HEADER *
*======================================== */
.home__section {
  min-width: 21.875rem;
  padding: 2rem 1.5rem;

  display: grid;
  gap: 2.5rem;
}
.home__section.hidden {
  display: none;
}

/* Title -------------------------------------------- */
.home__title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title {
  color: var(--clr-blue-900);

  display: grid;
  gap: 0.5rem;
}

.darkmode .subtitle {
  color: var(--clr-blue-300);
}
.title span {
  font-size: var(--fs-40);
  line-height: 100%;
  font-weight: var(--fw-light);
}
.title h1 {
  font-size: var(--fs-40);
  line-height: 100%;
  font-weight: var(--fw-medium);
}
.subtitle {
  font-size: var(--fs-14);
  line-height: 150%;
  font-style: italic;
  font-weight: var(--fw-regular);
  color: var(--clr-grey-500);
}

/* Buttons ------------------------------------------- */
.categories__btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  padding: 1rem;
  border-radius: 12px;
  background-color: var(--clr-white);
  color: var(--clr-blue-900);
  font-size: var(--fs-18);
  font-weight: var(--fw-medium);
  line-height: 100%;
  box-shadow: 0 16px 40px 0 rgba(0, 0, 0, 0.14);

  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn:hover:not(:disabled),
.btn:focus-visible:not(:disabled) {
  outline: none;
  box-shadow: 0 0 0 3px rgb(167, 41, 245, 0.5);
  transform: scale(1.02);
  transition: all 0.2s ease;
}
.btn:hover:not(:disabled) .answer__icon {
  background-color: var(--clr-purple-600);
  color: var(--clr-white);
}
.cat__icon {
  min-width: 40px;
  height: 40px;
  border-radius: 12px;
  color: var(--clr-grey-500);

  display: grid;
  place-content: center;
}
.cat__icon img {
  width: var(--icon-svg-size-mobile);
}
.icon__html {
  background-color: var(--clr-orange-50);
}
.icon__css {
  background-color: var(--clr-green-100);
}
.icon__javascript {
  background-color: var(--clr-blue-50);
}
.icon__accessibility {
  background-color: var(--clr-purple-100);
}

/* Darkmode ------------------------------------------- */
.darkmode .title {
  color: var(--clr-white);
}
.darkmode .btn {
  color: var(--clr-white);
  background-color: var(--clr-blue-850);
  box-shadow: 0 16px 40px 0 rgba(0, 0, 0, 0.14);
}

/* *========================================
      * MAIN *
*======================================== */
.quiz__container {
  min-width: 21.875rem;
  padding: 2rem 1.5rem;

  display: grid;
  gap: 2.5rem;
}

/* ---=== SECTION QUESTION ===---------------------- */
.quiz__section {
  display: grid;
  gap: 2.5rem;
}
.quiz__section.hidden {
  display: none;
}
.quiz__header {
  display: grid;
  gap: 1.5rem;
}
.quiz__progress {
  font-size: var(--fs-14);
  font-weight: var(--fw-regular);
  font-style: italic;
  line-height: 150%;
  color: var(--clr-grey-500);
}
.quiz__question {
  margin-top: 1rem;
  font-size: var(--fs-20);
  font-weight: var(--fw-medium);
  line-height: 120%;
  color: var(--clr-blue-900);
}

/* Darkmode ---------------------------------------*/
.darkmode .quiz__progress {
  color: var(--clr-blue-300);
}
.darkmode .quiz__question {
  color: var(--clr-white);
}

/* ---=== SECTION ANSWERS ===---------------------- */
.quiz__answers {
  display: grid;
  gap: 1rem;
}
/*  button colors and icons according to the selection */
.selected.btn[data-status="correct"] {
  outline: 3px solid var(--clr-green-500);
}
.selected.btn[data-status="incorrect"] {
  outline: 3px solid var(--clr-red-500);
}
.selected.btn[data-status="correct"] .answer__icon {
  background-color: var(--clr-green-500);
  color: var(--clr-white);
}
.selected.btn[data-status="incorrect"] .answer__icon {
  background-color: var(--clr-red-500);
  color: var(--clr-white);
}
.btn[data-status="incorrect"] .answer__icon {
  color: var(--clr-white);
}
.answer__status {
  display: flex;
  align-items: center;
  text-align: start;
  gap: 1rem;
}
.answer__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.answer__btn:disabled {
  cursor: not-allowed;
}
.answer__btn.selected {
  outline: 3px solid var(--clr-purple-600);
}
.answer__btn.selected .answer__icon {
  background-color: var(--clr-purple-600);
  color: var(--clr-white);
}
.answer__icon {
  background-color: var(--clr-grey-50);
}

/* button submit */
.submit__container {
  text-align: center;
  color: var(--clr-red-500);

  display: grid;
  gap: 1rem;
}
.submit__btn,
.score__btn {
  background-color: var(--clr-purple-600);
  color: var(--clr-white);
  justify-content: center;
  padding: 1.2rem;
  transition: background-color 0.2s ease-in-out;
}
.submit__btn:hover,
.score__btn:hover {
  background-color: var(--clr-purple-400);
}
.submit__btn:active,
.score__btn:active {
  transform: scale(0.95);
}
.submit__error {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.submit__error-icon {
  width: 32px;
}

/* Darkmode -------------------------------------------- */
.darkmode .score__btn,
.darkmode .submit__btn {
  background-color: var(--clr-purple-600);
}
.darkmode .score__btn:hover,
.darkmode .submit__btn:hover {
  background-color: var(--clr-purple-400);
  outline: none !important;
}

/* ---=== SECTION SCORE ===---------------------- */
.score__section {
  display: grid;
  gap: 2.5rem;
}
.score__section.hidden {
  display: none;
}
.screen__score-container {
  display: grid;
  gap: 1rem;
}
.screen__score {
  height: auto;
  padding: 2rem;
  background-color: var(--clr-white);
  border-radius: 12px;
  box-shadow: 0 16px 40px 0 rgba(0, 0, 0, 0.14);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.display__score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.display__score h2 {
  font-size: var(--fs-88);
  color: var(--clr-blue-900);
  line-height: 100%;
}
.display__score span {
  color: var(--clr-grey-500);
  font-weight: var(--fw-regular);
}

/* Darkmode -------------------------------------------- */
.darkmode .screen__score {
  background-color: var(--clr-blue-850);
}
.darkmode .title__cat-score,
.darkmode .display__score h2 {
  color: var(--clr-white);
}
.darkmode .display__score span {
  color: var(--clr-blue-300);
}

/* *=======================================================================
      * MEDIA TABLET *
*======================================================================= */
@media (min-width: 768px) {
  body {
    background-image: url("../images/pattern-background-tablet-light.svg");
  }
  body.darkmode {
    background-image: url("../images/pattern-background-tablet-dark.svg");
  }

  /* ---=== NAV ===---------------------- */
  .nav__section {
    min-width: 41.875rem;
    padding: 2.5rem 4rem 3rem;
  }
  .nav__category,
  .score__category {
    gap: 1.5rem;
  }

  /** Checkbox toggle/switch */
  input[type="checkbox"] {
    width: 48px;
    height: 28px;
    border-radius: 14px;
  }
  input[type="checkbox"]::after {
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }

  /** Nav categories  */
  .title__category,
  .title__cat-score {
    font-size: var(--fs-28);
  }

  /** Nav toggle themes  */
  .nav__darkmode {
    gap: 1rem;
  }
  /* Icons */
  .icon__sun svg {
    width: var(--icon-svg-size-themes);
  }
  .icon__moon svg {
    width: var(--icon-svg-size-themes);
  }

  /* ---=== HEADER ===------------------- */
  .home__section {
    min-width: 41.875rem;
    padding: 47px 4rem;

    gap: 4rem;
  }

  /* title */
  .home__title {
    gap: 3rem;
  }
  .title span {
    font-size: var(--fs-64);
  }
  .title h1 {
    font-size: var(--fs-64);
  }
  .subtitle {
    font-size: var(--fs-20);
  }

  /* buttons */
  .categories__btn {
    gap: 1.5rem;
  }
  .btn {
    border-radius: 24px;
    font-size: var(--fs-28);
  }
  .cat__icon {
    min-width: 56px;
    height: 56px;
  }
  .cat__icon img {
    width: var(--icon-svg-size);
  }

  /* ---=== MAIN ===--------------------- */
  .quiz__container {
    min-width: 41.875rem;
    padding: 47px 4rem;
  }
  .quiz__header {
    gap: 2.5rem;
  }
  .quiz__progress {
    font-size: var(--fs-20);
  }
  .quiz__question {
    margin-top: 1.5rem;
    font-size: var(--fs-36);
  }

  .btn[data-status="correct"] .answer__icon {
    color: var(--clr-blue-850);
  }
  .btn[data-status="incorrect"] .answer__icon {
    color: var(--clr-blue-850);
  }

  /* ---=== SECTION ANSWERS  ===--- */
  .quiz__answers {
    display: grid;
    gap: 2rem;
  }
  .submit__btn,
  .score__btn {
    font-size: var(--fs-28);
    line-height: 100%;
    padding: 2rem;
  }

  /* ---=== SECTION SCORE  ===--- */
  .score__section {
    gap: 4rem;
  }
  .screen__score-container {
    gap: 2rem;
  }
  .screen__score {
    padding: 3rem;
    border-radius: 24px;

    gap: 2.5rem;
  }

  .display__score {
    gap: 2rem;
  }
  .display__score h2 {
    font-size: var(--fs-144);
  }
  .display__score span {
    font-size: var(--fs-24);
  }
  .display__score span {
    color: var(--clr-grey-500);
  }
  .title__cat-score {
    color: var(--clr-blue-900);
  }
}

/* *=======================================================================
      * MEDIA DESKTOP *
*======================================================================= */
@media (min-width: 1440px) {
  body {
    display: grid;
    place-content: center;
    background-image: url("../images/pattern-background-desktop-light.svg");
  }
  body.darkmode {
    background-image: url("../images/pattern-background-desktop-dark.svg");
  }

  /* ---=== NAV ===------------------- */
  .nav__section {
    max-width: 1157px;
    padding: 5.4rem 0;
  }

  /* ---=== HEADER ===------------------- */
  .home__section {
    width: 1157px;
    padding: 0;

    grid-template-columns: 1fr 35.25rem;
    gap: 8rem;
  }
  .btn {
    padding: 1.5rem;
  }
  .categories__btn {
    gap: 1rem;
  }

  /* ---=== MAIN ===------------------- */
  /** --- QUIZ --- */
  .quiz__container {
    display: grid;
    place-content: center;
    max-width: 1157px;
    padding: 0;
  }
  .quiz__section {
    min-width: 1157px;
    grid-template-columns: 1fr 35.25rem;
    gap: 8rem;
  }
  .quiz__header {
    height: 464px;
    align-content: space-between;
  }
  .answer__status {
    gap: 2rem;
  }

  /** --- SCORE --- */
  .score__section {
    min-width: 1157px;
    grid-template-columns: 1fr 35.25rem;
    gap: 8rem;
  }
  .score__section .title {
    display: block;
  }
}
